.article
  +fontExo2
  
  img
    +TAB_MAX
      width: 100%
      margin-bottom: 20px
    +PC_MIN
      float: left
      width: 50%
      margin: 0 20px 20px 0
  
  table
    display: block
    overflow-y: auto
    
    th, td
      min-width: 200px