.article
  - var imgSrc = imgDir + 'article__img-1.jpg';

  p
    img(src=imgSrc alt='article')
    +lorem(100)

  h3
    +lorem(5)

  table
    thead
      tr
        - for(var i = 1; i <= 3; i++)
          th
            +lorem(2)
    tbody
      - for(var i = 1; i <= 3; i++)
        tr
          td
            +lorem(1)
          td
            +lorem(2)
          td
            +lorem(3)

  h3
    +lorem(5)

  ul
    - for(var i = 1; i <= 5; i++)
      li
        +lorem(10)
