.header
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 101
  padding-top: 20px
  &:before
    content: ''
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAIUlEQVQoU2OcUc28mQEHyGj96wuTYhxWCnH5GF2ckViFAHwRGAnqT7GmAAAAAElFTkSuQmCC)
    width: 100%
    height: 5px
    position: absolute
    top: 0
    left: 0
  
  &__relative
    position: relative
    width: 100%
  
  &__panel
    display: flex
    width: 100%
    min-height: 50px
    +PC_MIN
      align-items: center
  
  &__phone
    position: absolute
    top: 50%
    right: 60px
    transform: translateY(-50%)
    +PC_MIN
      right: 0