.info
  +fontExo2
  +font(size 13px)
  
  &__box
    display: flex
    flex-wrap: wrap
  
  &__item
    width: 100%
    transition: 0.3s ease all
    &:hover
      transform: scale(1.1)
      text-decoration: none
    +PHONE_ONLY
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
    +TAB_MIN
      min-height: 140px
      width: 50%
    +TAB_MAX
      text-align: center
  
  &__icon, &__title, &__number
    margin-bottom: 10px
  
  &__title
    +font(weight 700)
    text-transform: uppercase
    color: $black
    
  &__icon
    +font(size 30px)
    color: $black
    
  &__number
    color: $gray