.info

  .info__box
    a.info__item(href='tel:227289075' data-wow-delay="0.4s").wow.zoomInRight
      i.info__icon.fa.fa-phone
      .info__title Telefon
      .info__number (22) 728 90 75

    a.info__item(href='mailto:hi@studio.com' data-wow-delay="0.6s").wow.zoomInRight
      i.info__icon.fa.fa-envelope
      .info__title Mail
      .info__number hi@studio.com

    a.info__item(href='http://facebook.com/studio' data-wow-delay="0.8s").wow.zoomInRight
      i.info__icon.fa.fa-facebook
      .info__title Facebook
      .info__number facebook.com/studio

    a.info__item(href='http://youtube.com/studio' data-wow-delay="1s").wow.zoomInRight
      i.info__icon.fa.fa-youtube
      .info__title Youtube
      .info__number youtube.com/studio
