{include: themes/".$settings.theme."/inc/header.html}

{$carousel.main}

<div class="about" id="content">
    <div class="about__pattern"></div>
    <div class="container">
        <div class="about__title">
            <h1 class="title -black wow fadeInDown">{$page.title}</h1>
        </div>
        <div class="about__content wow bounceInLeft" data-wow-delay="0.6s">
            <div class="about__contentText">
                {$page.content}
            </div>
        </div>
        <div class="about__buttonBox wow bounceInUp" data-wow-delay="0.9s">
            <div class="about__button">
                <a class="button -yellow" href="{$bat.path}/blog">
                    <span class="button__skew">Zobacz więcej</span>
                </a>
            </div>
            <div class="about__buttonSpace">lub</div>
            <div class="about__button">
                <a class="button -hollow" href="{$bat.path}/blog">
                    <span class="button__skew">Zobacz więcej</span>
                </a>
            </div>
        </div>
    </div>
</div>

{$latestNews}

{include: themes/".$settings.theme."/inc/footer.html}
