{include: themes/".$settings.theme."/inc/header.html}

{include: themes/".$settings.theme."/inc/banner.html}

<div class="blog" id="content">
    <div class="about__pattern"></div>
    <div class="container">
        <div class="blog__main wow bounceInRight" data-wow-delay="0.9s">
            <div class="blog__title">
                <h1 class="title -black -pages wow fadeInDown">{$page.title} {$page.desc}</h1>
            </div>
            <div class="blog__content">
                <div class="article">
                    {if: $bat.notify}
                    <div class="notify -{$bat.notify.type}">{$bat.notify.text}</div>
                    {/if}
                    {$page.content}
                </div>
            </div>
        </div>

        {include: themes/".$settings.theme."/inc/aside.html}
    </div>
</div>

{include: themes/".$settings.theme."/inc/footer.html}
