.button
  +fontGagalin
  +font(size 15px)
  display: inline-flex
  align-items: center
  justify-content: center
  text-transform: uppercase
  color: $black
  height: 46px
  min-width: 135px
  padding: 0 25px
  cursor: pointer
  transform: skew(-$skew)
  transition: 0.3s ease all
  border: none
  &:hover
    text-decoration: none
  
  &.-yellow
    background: $yellow
    &:hover
      background: darken($yellow, 10%)
  
  &.-white
    background: $white
    color: $black
    &:hover
      background: $yellow
  
  &.-hollow
    background: transparent
    color: $yellow
    border: 1px solid $yellow
    &:hover
      background: transparentize($yellow, 0.9)
  
  &.-banner
    position: relative
    margin-right: 20px
    &:after, &:before
      content: ''
      width: 5px
      height: 100%
      position: absolute
      top: 0
      background: inherit
    &:after
      right: -10px
    &:before
      right: -20px
      
  &.-form
    transform: skew(-$skew) translateX(-6px)
    
  &__skew
    transform: skew($skew)
    
  &__box
    overflow: hidden
    