.news

  .news__item
    - var itemStyle = 'background-image: url('+ imgDir +'news__img-1.jpg)';
    .news__img(style=itemStyle)
    .news__content
      .news__contentTitle
        +lorem(4)
      .news__contentText.text-short
        +lorem(8)
      .news__button
        include ../button/button-yellow

  .news__item
    - var itemStyle = 'background-image: url('+ imgDir +'news__img-2.jpg)';
    .news__img(style=itemStyle)
    .news__content
      .news__contentTitle
        +lorem(4)
      .news__contentText.text-short
        +lorem(8)
      .news__button
        include ../button/button-yellow

  .news__item
    .news__img
      i.news__icon.fa.fa-newspaper-o
    .news__content
      .news__contentTitle
        +lorem(4)
      .news__contentText.text-short
        +lorem(8)
      .news__button
        include ../button/button-yellow

.news__pager
  a(href="#").news__pagerItem.-prev
    i.fa.fa-arrow-left
  a(href="#").news__pagerItem
    i.fa.fa-arrow-right