<div class="prenews" style="background-image: url({$bat.path}/themes/{$settings.theme}/dist/img/prenews__bg.jpg);">
    <div class="container">
        <div class="prenews__slider wow bounceInRight">
            {loop: $latestnews.posts}
            <div class="prenews__item">
                <div class="prenews__box"
                    {if: $value.param_img == 'yes' && $value.cover_photo}
                    style="background-image: url('{$value.cover_url}');"
                    {else}
                    style="background-image: url({$bat.path}/themes/{$settings.theme}/dist/img/prenews__box-2.jpg);"
                    {/if}
                    >
                    <img class="prenews__icon" src="{$bat.path}/themes/{$settings.theme}/dist/img/prenews__icon-2.png" alt="icon">
                    {if: $value.param_title == 'yes'}
                    <h1 class="prenews__titleTop">{$value.title}</h1>
                    {/if}
                    {if: $value.param_author == 'yes'}
                    <h1 class="prenews__titleTop">{$value.author.username}</h1>
                    {/if}
                    {if: $value.param_date == 'yes'}
                    <h1 class="prenews__titleTop">{$value.published_at}</h1>
                    {/if}
                    {if: $value.param_text == 'yes'}
                    <h1 class="prenews__titleTop">{$value.content}</h1>
                    {/if}
                </div>
                <div class="prenews__button">
                    <a class="button -white" href="{$value.url}">
                        <span class="button__skew">Zobacz więcej</span>
                    </a>
                </div>
            </div>
            {/loop}
        </div>
    </div>
</div>

