@font-face
  font-family: 'Gagalin'
  font-style: normal
  font-weight: normal
  src: local('Gagalin'), url('../fonts/Gagalin-Regular.otf') format('truetype')
  
=fontExo2
  font-family: 'Exo 2', sans-serif

=fontGagalin
  font-family: 'Gagalin', sans-serif
  letter-spacing: 1.5px