.banner.-main

  .banner__slider
    - for(var i = 1; i <= 4; i++)
      - var itemStyle = 'background-image: url('+ imgDir +'banner__item-'+ i +'.jpg)'
      .banner__item(style=itemStyle)
        .banner__canvas

        .container.fullWindow
          .banner__header.wow.fadeInUp(data-wow-delay="0.6s")

            .banner__titleBox
              .banner__title
                include ../title/title-white
              .banner__title
                include ../title/title-yellow
              .banner__title
                include ../title/title-white
            .banner__button
              include ../button/button-yellow-banner

  .banner__scroll
    include ../scroll/scroll-banner


