.banner.-pages
  - var itemStyle = 'background-image: url('+ imgDir +'banner__item-1.jpg)'
  .banner__item(style=itemStyle)
    .banner__canvas

    .container.fullWindow
      .banner__header.-pages.wow.fadeInUp(data-wow-delay="0.6s")

        .banner__titleBox
          .banner__title
            include ../title/title-white
          .banner__title
            include ../title/title-yellow
          .banner__title
            include ../title/title-white

  .banner__scroll.-pages
    include ../scroll/scroll-banner
