<div class="banner -main">
    <div class="banner__slider">
        {loop: $carousel.items}
        <div class="banner__item" style="background-image: url('{?=url($value.src.lg)?}')">
            <div class="banner__canvas"></div>
            <div class="container fullWindow">
                <div class="banner__header wow fadeInUp" data-wow-delay="0.6s">
                    <div class="banner__titleBox">
                        <div class="banner__title">
                            <h1 class="title -yellow wow fadeInDown">{$value.title}</h1>
                        </div>
                        <div class="banner__title">
                            <h1 class="title -white wow fadeInDown">{$value.desc}</h1>
                        </div>
                    </div>
                    <div class="banner__button">
                        <a class="button -yellow -banner" href="{?=url($bat.path)?}/blog">
                            <span class="button__skew">Zobacz więcej</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {/loop}
    </div>
    <div class="banner__scroll">
        <a class="scroll wow bounceInUp" href="#content" data-wow-delay="0.9s">
            <div class="scroll__borderOut">
                <div class="scroll__borderIn">
                    <div class="scroll__arrow"><i class="fa fa-angle-down"></i></div>
                </div>
            </div>
        </a>
    </div>
</div>