<form class="form__content" name="email" method="POST" action="{$_SERVER['REQUEST_URI']}">
    <div class="form__row">
        <input class="form__input" type="text" name="name" placeholder="{$lang.contact.full_name}" required>
        <input class="form__input" type="email" name="from" placeholder="{$lang.contact.email}" required>
    </div>
    <textarea class="form__textarea" name="message" placeholder="{$lang.contact.message}" required></textarea>

    <!-- antispam field -->
    <div class="form-group" id="antispam">
        <input type="text" name="title" required/>
    </div>
    <script>
      (function () {
        var e = document.getElementById("antispam");
        e.parentNode.removeChild(e);
      })();
    </script>
    <!-- /antispam field -->

    <div class="button__box">
        <button class="button -yellow -form" type="submit" name="send-email">
            <span class="button__skew">{$lang.contact.send}</span>
        </button>
    </div>
</form>