#map {
    overflow: hidden;
}
#map__canvas {
    width: 100%;
    height: 200px;
}
@media (min-width: 1024px) {
    #map__canvas {
        height: 400px;
    }
}
#map__marker {
    padding: 10px;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.2s ease all;
    width: 100px;
}
#map__marker:hover #map__icon {
    text-decoration: none;
    transform: rotateY(180deg) scale(2);
    fill: #8e9ea3;
}
#map__icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    transition: 0.5s ease all;
    fill: #000000;
}
#map .gm-style-cc {
    display: none;
}