<script>
  var mapLat = {$googlemap.lat};
  var mapLng = {$googlemap.lng};
  var mapZoom = {$googlemap.zoom};
  var styles = {$googlemap.styles};

  window.onload = function() {
    map.init(mapLat, mapLng, mapZoom, styles);
  }
</script>

<div id="map">
    <div id="map__box">
        <div id="map__canvas"></div>
        <a href="https://www.google.pl/maps/dir/{$googlemap.lat},{$googlemap.lng}/@{$googlemap.lat},{$googlemap.lng},{$googlemap.zoom}z" target="_blank" id="map__marker">
					<div id="map__icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve" width="40px" height="40px">
							<g>
								<g>
									<path d="M40,0C26.191,0,15,11.194,15,25c0,23.87,25,55,25,55s25-31.13,25-55C65,11.194,53.807,0,40,0z     M40,38.8c-7.457,0-13.5-6.044-13.5-13.5S32.543,11.8,40,11.8c7.455,0,13.5,6.044,13.5,13.5S47.455,38.8,40,38.8z" fill="#FDA900"/>
								</g>
							</g>
						</svg>
					</div>
        </a>
    </div>
</div>