.scroll
  +flex-center
  height: 60px
  width: 60px
  color: $white
  &:hover
    text-decoration: none
  
  &__borderOut
    border: 1px solid transparentize($white, 0.5)
    padding: 5px
    transform: rotate(45deg)
    display: inline-block

  &__borderIn
    border: 2px solid $white
    padding: 5px

  &__arrow
    +flex-center
    +font(size 22px)
    transform: rotate(-45deg)
    height: 15px
    width: 15px