.slick
  
  &-slider
    user-select: text
  
  &-list.draggable
    user-select: none
    
  &__dots
    padding: 0
    margin: 0
    
    li
      display: inline-block
    
  &__dot
    width: 30px
    height: 15px
    margin-right: 5px
    cursor: pointer
    background: $yellow
    transform: skew(-$skew)