#map
  overflow: hidden
  
  &__canvas
    width: 100%
    height: 200px
    +PC_MIN
      height: 400px
  
  &__marker
    padding: 10px
    position: absolute
    transform: translate(-50%, -50%)
    transition: 0.2s ease all
    width: 100px
    &:hover
      #map__icon
        text-decoration: none
        transform: scale(2)
  
  &__icon
    +flex-center
    padding: 10px
    transition: 0.5s ease all
  
  .gm-style-cc
    display: none