script.
  var mapLat = 52.460496;
  var mapLng = 16.621496;
  var mapZoom = 13;
  var styles = [{"stylers": [{"visibility": "simplified"}]}, {"stylers": [{"color": "#131314"}]}, {
    "featureType": "water",
    "stylers": [{"color": "#131313"}, {"lightness": 7}]
  }, {"elementType": "labels.text.fill", "stylers": [{"visibility": "on"}, {"lightness": 25}]}];

  window.onload = function () {
    map.init(mapLat, mapLng, mapZoom, styles);
  }
#map
  #map__box.wow.fadeInUp
    #map__canvas
    a(href='https://www.google.pl/maps/dir/52.460496,16.621496/@52.460496,16.621496,13z' target='_blank')#map__marker
      #map__icon
        include src/img/map__marker.svg