.prenews
  +section-padding
  +section-bg
  overflow: hidden
    
  &__item
    text-align: center
    
  &__box
    +flex-center
    flex-direction: column
    width: 240px
    height: 170px
    background: $black
    text-transform: uppercase
    margin: auto
    +PC_MIN
      width: 280px
    
  &__icon
    margin-bottom: 10px
  
  &__titleTop, &__titleBottom
    +font(size 15px)
    margin-bottom: 0
    
  &__titleTop
    color: $yellow
    
  &__titleBottom
    color: $white
    
  &__button
    margin-top: -23px