- var sectionStyle = 'background-image: url('+ imgDir +'prenews__bg.jpg)';

.prenews(style=sectionStyle)
  .container

    .prenews__slider.wow.bounceInRight
      - for(var i = 1; i <= 5; i++)
        .prenews__item
          - var number = i % 3 + 1;
          - var boxStyle = 'background-image: url('+ imgDir +'prenews__box-'+ number +'.jpg)';
          - var iconSrc = imgDir + 'prenews__icon-' + number + '.png';
          .prenews__box(style=boxStyle)
            img(src=iconSrc alt='icon').prenews__icon
            h1.prenews__titleTop Przchowalnia
            h2.prenews__titleBottom rowerów

          .prenews__button
            include ../button/button-white

