extends ../layout/body

block headScripts

block content
  include ../components/banner/banner-pages
  include ../components/blog/blog-gallery
  include ../components/contact/contact
  include ../components/map/map
