.blog#content

  .about__pattern

  .container
    .blog__main.wow.bounceInLeft(data-wow-delay="0.6s")
      .blog__title
        include ../title/title-black-pages

      .blog__content
        include ../news/news

    .blog__aside.wow.bounceInRight(data-wow-delay="0.9s")
      include ../aside/aside

