.phone
  position: relative
  padding: 5px 10px
  
  &__item
    +flex-center
    color: $white
    text-transform: uppercase
    transition: 0.3s ease all
    &:hover
      text-decoration: none
      transform: scale(1.1)
      
  &__text
    color: $yellow
      
  &__icon
    +font(size 38px)
    +PC_MIN
      margin-right: 15px
      
  &__info
    +font(size 14px)
    +TAB_MAX
      display: none