aside.aside
  - var asideTab = ['Ogólne informacje', 'Dostarczenie i odbiór'];
  - asideTab.push('Przechowalnia rowerów', 'Przechowalnia motorów');
  - asideTab.push('Przechowalnia bagów samopchodowych', 'Cennik');
  .aside__nav
    - for(var i = 0; i < asideTab.length; i++)
      a(href='gallery.html').aside__link
        span.aside__skew #{asideTab[i]}