.aside
  +fontExo2
  +font(size 13px)
  +PC_MIN
    +font(size 15px)
  
  &__nav
    background: $black
    padding: 20px 5px
  
  &__link
    display: block
    text-transform: uppercase
    color: $white
    padding: 10px 20px
    position: relative
    z-index: 2
    transition: 0.3s ease all
    transform: skew(-$skew)
    &:after
      transition: inherit
      content: ''
      position: absolute
      left: 0
      top: 0
      opacity: 0
      width: 100%
      height: 100%
      background: $yellow
      z-index: -1
      border-radius: inherit
    &:hover, &.-active
      text-decoration: none
      color: $black
      &:after
        left: -20px
        opacity: 1
        
  &__skew
    display: inline-block
    transform: skew($skew)