<div class="blog__content">
  <div class="gallery">
    <div class="gallery__box">
      {loop: $gallery.items}
      <a class="gallery__link"
         {if: ($value.title | $value.desc)}
         title="{$value.title} - {$value.desc}"
         {/if}
      href="{?=url($value.src.lg)?}"
      data-pinterest-text="Pin it1"
      data-tweet-text="share on twitter 1"
      data-facebook-share-url="facebook-share.html"
      data-twitter-share-url="twitter-share.html"
      data-googleplus-share-url="googleplus-share.html"
      data-pinterest-share-url="pinterest-share.html">
      <div class="gallery__thumb"
           style="background-image: url('{?=url($value.src.sm)?}');">
      </div>
      </a>
      {/loop}
    </div>
  </div>
</div>