nav.nav
  .nav__button
    i.fa.fa-bars

  .nav__background

  ul.nav__list
    li.nav__item
      a.nav__link.-active(href='index.html')
        span.nav__skew Strona główna
    li.nav__item
      a.nav__link(href='about.html')
        span.nav__skew O firmie
    li.nav__item
      a.nav__link(href='offer.html')
        span.nav__skew Oferta
    li.nav__item
      a.nav__link(href='#contact')
        span.nav__skew Kontakt
