.about
  @extend .blog
  +fontExo2
  overflow: hidden
  
  &__pattern
    @extend .blog__pattern
  
  .container
    text-align: center
  
  &__title
    margin-bottom: 40px
  
  &__buttonBox
    +flex-center
    margin-top: 40px
    +PHONE_ONLY
      flex-direction: column
  
  &__buttonSpace
    +font(size 14px)
    margin: 0 12px
    color: darken($grayLight, 30%)
    +PHONE_ONLY
      margin: 12px 0