.about#content

  .about__pattern

  .container
    .about__title
      include ../title/title-black

    .about__content.wow.bounceInLeft(data-wow-delay="0.6s")
      h6.about__contentTitle Drogi kliencie

      .about__contentText
        +lorem(80)

    .about__buttonBox.wow.bounceInUp(data-wow-delay="0.9s")
      .about__button
        include ../button/button-yellow

      .about__buttonSpace lub

      .about__button
        include ../button/button-hollow