- var sectionStyle = 'background-image: url('+ imgDir +'contact__bg.jpg)';

.contact#contact(style=sectionStyle)
  .container

    .contact__title
      include ../title/title-black

    .contact__content

      .contact__column
        include ../form/form

      .contact__column
        include ../info/info